#statsbutton {
	clear:both;
	position:fixed;
	border:0;
	margin:0;
	padding:0;
	right:5px;
	display:block;
	width:32px;
	height:32px;
	padding:0;
	margin:0 0 4px 0;
}

#statsbox {
	border-style: none;
	border-color: #DDDDDD;
	border-width: 1px;
	float: right;
	width: 0%;
	height: 140px;
	background-color:#507AAA;
	position: fixed;
	padding: 0;
	margin: 0;
	right: 0px;
}

#contentBox {
	background-color: #FFFFFF;
	position: absolute;
	width: 0%;
	top: 23px;
	bottom: 23px;
}

#statstable {
	color: #2A5690;
	position: absolute;
	padding-left: 32px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 75%;
	text-align: left;
}

#statstable a {
	color: #2A5690;
}

#statstable a:hover {
	color: #C61A1A;
}

#statsbox ul {
	position: absolute;
	margin: 0;
	padding: 0;
}

#statsbox ul#listingsTop {
	top: 0px;
}

#statsbox ul#listingsBottom {
	bottom: 0px;
}

#statsbox li {
	float: left;
	list-style-type:none;
	margin: 0px 2px 0px 0px;
	padding: 0px 0px 0px 0px;
	white-space:nowrap;
}

#statsbox li a {
	display: block;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
	margin: 0;
	padding: 4px 10px 4px 10px;
}

#statsbox li a.selectedTop {
	background: #FFFFFF;
	color: #555555;
}

#statsbox li a.selectedBottom {
	background: #FFFFFF;
	color: #555555;
}

#statsbox li a.selectedTop:hover {
	background: #FFFFFF;
	color: #555555;
}

#statsbox li a.selectedBottom:hover {
	background: #FFFFFF;
	color: #555555;
}

#statsbox li a:hover {
	background: #759FCF;
}

#statsbox form#size {
	float: none;
	display: none;
	position: absolute;
	right: 40%;
	bottom: 7px;
}